# terraform init -backend-config=backend.hcl
resource_group_name  = "rg-terraform-state"
storage_account_name = "sttfstateadmincon"
container_name       = "tfstate"
key                  = "admin-console/dev.tfstate"
